a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
#header {
	display: flex;
	justify-content: flex-end;

}
#header ul li{
	display: inline;
}
#Main{
	height:400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#Image{
	display: flex;
	justify-content: center;
}
#searchbar{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#barre{
	width: 500px;
	height: 30px;
	box-shadow: 0px 3px 1px lightgrey;
}

#boutons{
	display: flex;
	justify-content: center;
}

.boutons{
	margin: 5px;
	height: 35px;
	border:	none;
	background-color: lightgrey;
}

.boutons:hover{
	font-weight: bold;
	border: solid;
}

footer{
	position: absolute;
	bottom:0;
	width: 100%;
	background-color: lightgrey;
}
#France{
	padding-left: 40px;
}
#liens{
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid;
}

#lien1{
	width:40%;
	text-align: left;
}
#lien1 ul li{
	display: inline;
}
#lien2{
	width: 50%;
	text-align: center;
}
#lien2 ul li{
	display: inline;
}
